<div>
  <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
    style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
    (submit)="nextPage()">
    <div class="title">
      <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
    </div>
    <table>
      <tr>
        <td>
          <br>
          <br>
          <div class="container">
            <div class="progress">
            </div>
            <div class="steps">
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="active"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="element-separator">
      <hr />
      <h3 class="section-break-title">Comportamiento oferta y demanda</h3>
    </div>
    <div class="element-separator">
      <hr />
      <table>
        <tr>
          <td>Actualidad Edificadora</td>
          <td width="70%">
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Actualidad Edificadora"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Comportamiento Oferta y Demanda</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Comportamiento Oferta y Demanda"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Tiempo Esperado Comercialización (En meses)</td>
          <td width="70%">
            <div class="element-input">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <input class="large" type="text" name="input21" required="required" placeholder="Tiempo" /><span
                  class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="submit"><input type="submit" value="Siguiente" /></div>
  </form>
</div>