<div>
    <form class="formoid-solid-red"
        style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:720px;min-width:150px"        
        >
        <div class="title">
            <h2>Informe de avalúo comercial banco Av Villas</h2>
            <div align="center">
                <hr />
                <table>
                    <tr>
                        <td>Bienvenido: <b align="center">{{usuario}}</b></td>                                                
                    </tr>
                    <tr>
                        <td><input type="submit" id="logut" value="Cerrar Sesión" (click)="logout($event)"/></td>
                    </tr>
                </table> 
            </div>
        </div>
        <div align="center" class="element-separator">
            <h3 class="section-login">En esta sección puedes gestionar la Base Unica de avaluos - BUA</h3>
            <table>
                <tr>
                    <td><input type="submit" id="crear" value="Crear Avalúo" (click)="crear($event)"/></td>
                    <td><input type="submit" id="buscar" value="Buscar Avalúo" (click)="buscar($event)"/></td>
                    <td>
                        <div id="contenedor">
                            <div class="loader" id="loader">Cargando...</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </form>
</div>