<div>
  <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
    style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
    (submit)="nextPage($event)">
    <div class="title">
      <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
    </div>
    <table>
      <tr>
        <td>
          <br>
          <br>
          <div class="container">
            <div class="progress"></div>
            <div class="steps">
              <div class="step" id="active"></div>
              <div class="step" ></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
            </div>
          </div>
        </td>      
      </tr>
    </table>
    <div class="element-separator">
      <hr />
      <h3 class="section-break-title">Información del perito</h3>
    </div>
    <div class="element-separator">
      <hr />
      <table>
        <tr>
          <td>
            <p>Entidad Avaluadora:</p>
          </td>
          <td>
            <div class="element-input">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <input class="large" type="text" name="input" required="required"
                  placeholder="Entidad Avaluadora"  id="EntidadAvaluadora"/><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="element-address">
        <label class="title"><span class="required"></span></label>
        <table>
          <tr>
            <td>Dirección</td>
            <td width="50%">
              <span class="addr1">
                <input placeholder="Dirección" type="text" name="address[addr1]" required="required" id="Direccion"/><span
                  class="icon-place"></span></span>
            </td>
            <td>Teléfono</td>
            <td width="50%">
              <span class="zip">
                <input placeholder="Teléfono" type="text" maxlength="15" name="address[zip]" required="required" id="Telefono" />
                <span class="icon-place"></span>
              </span>
            </td>

          </tr>
          <tr>
            <td>Banco</td>
            <td width="50%">
              <span class="city">
                <input placeholder="Banco" type="text" required="required"  id="Banco"/>
                <span class="icon-place"></span>
              </span>
            </td>
            <td>ID Banco</td>
            <td width="50%">
              <span class="zip">
                <input placeholder="ID Banco" type="text" maxlength="15" required="required"  id="IdBanco"/>
                <span class="icon-place"></span>
              </span>
            </td>
          </tr>
          <tr>
            <td>Departamento</td>
            <td width="50%">
              <span class="state">
                <select required="required"  id="Departamento" [(ngModel)]="selectedValue" (change)="onSelect($event.target.value)">
                  <!--<option value="" selected></option>
                  <option value="Departamento">Departamento</option>-->
                  <option *ngFor="let dep of departamentos" [value]="dep.ID_DEPTO" >
                    {{dep.NOMBRE_DEPTO}}
                </select>
                <span class="icon-place"></span>
              </span>
            </td>
            <td>Ciudad</td>
            <td width="50%">
              <span class="city">
                <select  id="Ciudad">
                  <option *ngIf='selectedValue == 0' value="0">--Select city--</option>
                  <option *ngFor="let ciu of ciudadesfil" [value]="ciu.COD_DANE" >
                    {{ciu.NOMBRE_CIUDAD}}
                </select>
                <span class="icon-place"></span>
              </span>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <div class="submit">
        <input type="submit" value="Siguiente" />
      </div>
    </div>
  </form>
</div>