<div>
  <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
    style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
    (submit)="nextPage()">
    <div class="title">
      <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
    </div>
    <table>
      <tr>
        <td>
          <br>
          <br>
          <div class="container">
            <div class="progress">
            </div>
            <div class="steps">
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="active"></div>
              <div class="step"></div>
              <div class="step"></div>
              <div class="step"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="element-separator">
      <hr />
      <h3 class="section-break-title">Observaciones</h3>
    </div>
    <div class="element-separator">
      <hr />
      <table>
        <tr>
          <td>Registre la información sobre si la garantía cumple con las normas de reglamentación urbanísticas vigente
            en el municipio o distrito (Normas POT); tipo de uso, diferentes características del terreno, área de
            construcción existentes autorizadas, entre otras.</td>
          <td width="70%">
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Observaciones"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Cédula Catastral</td>
          <td width="70%">
            <div class="element-input">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <input class="large" type="text" name="input21" required="required" placeholder="Cedula" /><span
                  class="icon-place"></span>
              </div>
            </div>
          </td>

        </tr>
        <tr>
          <td>Características del terreno:</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Caracteristicas"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Área de construcciones existentes autorizadas legalmente (zonas consideradas de alto riesgo y zonas
            ilegales):</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Observaciones"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Mencione si existen deficiencias en iluminación, carecteristicas de la construcción (autoconstrucción)
            problemas de deslizamiento, inmuebles de conservación arquitectónica, entre otros:</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Observaciones"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Revisión de Alturas</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Revisión de Alturas"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <b> Recuerde que cuando existan fallas estructurales se debe anexar el registro fotográfico</b>
          </td>
        </tr>
        <tr>
          <td>Nombre del Ingeniero Calculista y Constructora del Proyecto</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Ingeniero"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Áreas construidas diferentes a las registradas en el Folio de Matrícula Inmobiliaria</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Áreas"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Aréas registradas en la licencia de construcción – Folio de Matrícula Inmobiliaria</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Áreas"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Observaciones Adicionales</td>
          <td>
            <div class="element-textarea">
              <label class="title"><span class="required"></span></label>
              <div class="item-cont">
                <textarea class="medium" name="textarea" cols="20" rows="5" required="required"
                  placeholder="Observaciones"></textarea><span class="icon-place"></span>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <b> Nota:</b> <i>“Este es un informe técnico que se obtiene como resultado del estudio realizado al inmueble, la
        decisión de aceptar la garantía es potestad exclusiva de la entidad financiera.”</i>
    </div>
    <div class="submit"><input type="submit" value="Siguiente" /></div>
  </form>
</div>