<div>
    <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
            style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
            (submit)="nextPage()">
            <div class="title">
                <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
            </div>
            <div class="element-separator">
                <hr />
                <h3 class="section-break-title">Información de la construcción - Propiedad horizontal</h3>
            </div>
            <div class="element-separator">
                <hr />
                <table>
                    <tr>
                        <td>Sometido a Propiedad Horizontal</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Propiedad" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Conj. o Agrup. Cerrada</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Conjunto" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Ubicación Inmueble</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Ubicación" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>                                          
                    </tr>
                    <tr>                        
                        <td>Núm. Edificios / Casas</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="# Edificios" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Unid. Por Piso</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Unidades" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Total Unidades</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Total Unidades" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>                    
                      </tr>                      
                </table>
            </div>                   
            <div class="submit"><input type="submit" value="Siguiente" /></div>        
        </form>  
    </div>