<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="customersCtrl">
            <select ng-model="selectedCar">
                <option ng-repeat="x in names" value="{{x.Country}}">{{x.Country}}</option>
            </select>
            <h1>You selected: {{selectedCar}}</h1>
    <script>
      var app = angular.module("myApp", []);
      app.controller("customersCtrl", function($scope, $http) {
        $http.get("paises.php").then(function(response) {
          $scope.names = response.data.records;
        });
      });
    </script>
  </body>
</html>
