<div>
    <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
        style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
        (submit)="nextPage()">
        <div class="title">
            <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
        </div>
        <table>
            <tr>
                <td>
                    <br>
                    <br>
                    <div class="container">
                        <div class="progress">
                        </div>
                        <div class="steps">
                            <div class="step" id="completed"></div>
                            <div class="step" id="completed"></div>
                            <div class="step" id="completed"></div>
                            <div class="step" id="completed"></div>
                            <div class="step" id="active"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="element-separator">
            <hr />
            <h3 class="section-break-title">Información de la construcción</h3>
        </div>
        <div class="element-separator">
            <hr />
            <table>
                <tr>
                    <td>Número de pisos</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Número de pisos" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Número de sótanos</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Número de sótanos" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Año Construcción</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Año Construcción" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Vetustez (Años)</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Vetustez (Años)" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Estado de Construcción</td>
                    <td>
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="estadocons">estado</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Estado Conservación</td>
                    <td>
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="estadoconse">estado</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="element-separator">
            <hr />
            <table>
                <tr>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Terminado<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio5" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio5" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Sin Terminar<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio6" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio6" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Remodelado<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio7" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio7" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Terminada<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio8" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio8" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">En Obra<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio8" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio9" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-input">
                            <label class="title"></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input22" placeholder="Porcentaje" /><span
                                    class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="element-separator">
            <hr />
            <table>
                <tr>
                    <td>Estruc.(Material)</td>
                    <td colspan="3">
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="estrmat">material</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Estruc.(Tipo)</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Estruc.(Tipo)" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Fachada</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Año Construcción" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Estruc.(Otro)</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Estruc.(Otro)" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>

                    <td>Cubierta</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Cubierta" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Irre. de la Planta</td>
                    <td colspan="2">
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="irrpl">planta</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>D. Previos</td>
                    <td colspan="2">
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="dprev">daños</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Irre. Altura</td>
                    <td>
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="irral">altura</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Reparados</td>
                    <td>
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="Reparados">Reparados</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Est. Reforzada</td>
                    <td>
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="estrefz">Est. Reforzada</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="submit"><input type="submit" value="Siguiente" /></div>
    </form>
</div>