<div>
  <form class="formoid-solid-red"
    style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:720px;min-width:150px"
    (submit)="nextPage()">
    <div class="title">
      <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
      <div align="center">
        <hr />
        <!--<h5>Bienvenido</h5>-->
      </div>
    </div>
    <div align="center" class="element-separator">
      <h3 class="section-login">Finalización y cierre del Avalúo</h3>
      <hr />
      <br>
      <table>
        <tr>
          <td><input type="submit" value="Cerrar Avalúo" /></td>
          <td><input type="submit" value="Guardar Avalúo" /></td>
        </tr>
        <br>
        <tr>
          <td><label class="title">Rating</label></td>
          <td>
            <div class="element-rating">
              <div class="rating">
                <input type="radio" class="rating-input" id="rating-5" name="rating" value="5" /><label for="rating-5"
                  class="rating-star"></label><input type="radio" class="rating-input" id="rating-4" name="rating"
                  value="4" /><label for="rating-4" class="rating-star"></label><input type="radio" class="rating-input"
                  id="rating-3" name="rating" value="3" /><label for="rating-3" class="rating-star"></label><input
                  type="radio" class="rating-input" id="rating-2" name="rating" value="2" /><label for="rating-2"
                  class="rating-star"></label><input type="radio" class="rating-input" id="rating-1" name="rating"
                  value="1" /><label for="rating-1" class="rating-star"></label>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <br>
  </form>
</div>