<div>
    <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
            style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
            (submit)="nextPage()">
            <div class="title">
                <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
            </div>
            <div class="element-separator">
                <hr />
                <h3 class="section-break-title">Información de la construcción - Acabados inmueble - Calidad</h3>
            </div>
            <div class="element-separator">
                <hr />
                <table>
                    <tr>
                        <td>Pisos</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Pisos" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Muros</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Muros" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Carp. Metal</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Carp. Metal" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>                                          
                        <td>Cocina</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Cocina" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>                        
                        <td>Techos</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Techos" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Carp. Madera</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Carp. Madera" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>
                        <td>Baños</td>
                        <td>
                            <div class="element-input">
                                <label class="title"><span class="required"></span></label>
                                <div class="item-cont">
                                    <input class="large" type="text" name="input21" required="required"
                                        placeholder="Baños" /><span class="icon-place"></span>
                                </div>
                            </div>
                        </td>                    
                      </tr>                      
                </table>
            </div>                   
            <div class="submit"><input type="submit" value="Siguiente" /></div>        
        </form>  
    </div>