ARREGLOS
<div>
<p>nombre:{{nombre}}</p>
<p>Calle:{{direccion.calle}}</p>
<p>Ciudad:{{direccion.ciudad}}</p>
<ul>
  <li *ngFor='let hobby of hobbies'>
      {{hobby}}
  </li>
</ul>
DEPARTAMENTOS
<select>
  <option *ngFor="let food of foods" [value]="food.value">
  {{food.viewValue}}
</option>
</select>

<select [(ngModel)]="selectedValue" (change)="onSelect($event.target.value)">
  <option *ngFor="let dep of depto" [value]="dep.ID_DEPTO" >
  {{dep.NOMBRE_DEPTO}}
  </option>
</select>

<div >
  <select>
    <option *ngIf='selectedValue == 0' value="0">--Select city--</option>
    <option *ngFor="let ciud of ciudadesfil">
    {{ciud.NOMBRE_CIU}}
    </option>
  </select>
  {{selectedValue}}
</div>
<br>

<input type="text" name="name" [(ngModel)]="name">
<input type="text" name="edad" [(ngModel)]="edad">
<br>
    Nombre: {{name}} 
</div>