<div>
    <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
        style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
        (submit)="nextPage()">
        <div class="title">
            <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
        </div>
        <table>
            <tr>
                <td>
                    <br>
                    <br>
                    <div class="container">
                        <div class="progress">
                        </div>
                        <div class="steps">
                            <div class="step" id="completed"></div>
                            <div class="step" id="completed"></div>
                            <div class="step" id="active"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>                            
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="element-separator">
            <hr />
            <h3 class="section-break-title">Información del barrio</h3>
        </div>
        <div class="element-separator">
            <hr />
            <table>
                <tr>
                    <td>Estrato</td>
                    <td>
                        <div class="element-select">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <label class="title"><span class="required"></span></label>
                                <select required="required">
                                    <option value="" selected></option>
                                    <option value="Estrato">Estrato</option>
                                </select><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Legalidad</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Legalidad" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Topografía</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Topografía" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                    <td>Transporte</td>
                    <td>
                        <div class="element-input">
                            <label class="title"><span class="required"></span></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input21" required="required"
                                    placeholder="Transporte" /><span class="icon-place"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="element-separator">
            <hr />
            <h4 class="section-break-title">Servicios públicos</h4>
        </div>
        <div class="element-separator">
            <table>
                <tr>
                    <td width="10%">
                        <div class="element-checkbox">
                            <label class="title">Acueducto<span></span></label>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox2[]"
                                        value="Sector" /><span>Sector</span></label>
                            </div>
                            <span class="clearfix"></span>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox2[]"
                                        value="Predio" /><span>Predio</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-checkbox">
                            <label class="title">Alcantarillado<span></span></label>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox3[]"
                                        value="Sector" /><span>Sector</span></label>
                            </div>
                            <span class="clearfix"></span>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox3[]"
                                        value="Predio" /><span>Predio</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-checkbox">
                            <label class="title">Energia Eléctrica<span> </span></label>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox4[]"
                                        value="Sector" /><span>Sector</span></label>
                            </div>
                            <span class="clearfix"></span>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox4[]"
                                        value="Predio" /><span>Predio</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-checkbox">
                            <label class="title">Gas Natural<span></span></label>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox5[]"
                                        value="Sector" /><span>Sector</span></label>
                            </div>
                            <span class="clearfix"></span>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox5[]"
                                        value="Predio" /><span>Predio</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-checkbox">
                            <label class="title">Telefonía<span></span></label>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox6[]"
                                        value="Sector" /><span>Sector</span></label>
                            </div>
                            <span class="clearfix"></span>
                            <div class="column column1">
                                <label><input type="checkbox" name="checkbox6[]"
                                        value="Predio" /><span>Predio</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="element-separator">
            <hr />
            <h4 class="section-break-title">Uso predominante</h4>
        </div>
        <div class="element-separator">
            <table>
                <tr>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Industria<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio5" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio5" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Vivienda<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio6" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio6" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Comercio<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio7" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio7" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Mixto<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio8" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio8" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-input">
                            <label class="title"></label>
                            <div class="item-cont">
                                <input class="large" type="text" name="input22" placeholder="Otro" /><span
                                    class="icon-place"></span>
                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <div class="element-separator">
            <hr />
            <h4 class="section-break-title">Vías de acceso</h4>
        </div>
        <div class="element-separator">
            <table>
                <tr>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Estado<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio9" value="Bueno"
                                        required="required" /><span>Bueno</span></label><label><input type="radio"
                                        name="radio9" value="Malo" required="required" /><span>Malo</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Pavimentada<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio10" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio10" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Sardineles<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio11" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio11" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Andenes<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio12" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio12" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="element-separator">
            <hr />
            <h4 class="section-break-title">Amoblamiento urbano</h4>
        </div>
        <div class="element-separator">
            <table>
                <tr>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Parques<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio13" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio13" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Paradero<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio14" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio14" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Alumbrado<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio15" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio15" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Ciclo rutas<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio16" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio16" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Arborización<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio17" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio17" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Alamedas<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio18" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio18" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="element-radio">
                            <label class="title">Zonas verdes<span class="required"></span></label>
                            <div class="column column1">
                                <label><input type="radio" name="radio19" value="Si"
                                        required="required" /><span>Si</span></label><label><input type="radio"
                                        name="radio19" value="No" required="required" /><span>No</span></label>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="element-textarea">
            <label class="title"><span class="required"></span></label>
            <div class="item-cont">
                <textarea class="medium" name="textarea1" cols="20" rows="5" required="required"
                    placeholder="Perspectivas de Valorización"></textarea><span class="icon-place"></span>
            </div>
        </div>
        <div class="submit"><input type="submit" value="Siguiente" /></div>
    </form>
</div>