<div>
  <form enctype="multipart/form-data" enctype="multipart/form-data" class="formoid-solid-red"
    style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:980px;min-width:150px"
    (submit)="nextPage()">
    <div class="title">
      <h2>Informe de avalúo comercial banco Av Villas – ID 860035827</h2>
    </div>
    <table>
      <tr>
        <td>
          <br>
          <br>
          <div class="container">
            <div class="progress">
            </div>
            <div class="steps">
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="completed"></div>
              <div class="step" id="active"></div>
              <div class="step"></div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="element-separator">
      <hr />
      <h3 class="section-break-title">Anexos</h3>
    </div>
    <div class="element-separator">
      <hr />
      <table>
        <tr>
          <td>Registro Fotográfico</td>
          <td width="80%">
            <div class="element-file">
              <label class="title"></label>
              <div class="item-cont">
                <label class="large">
                  <div class="button">Seleccionar Archivo</div>
                  <input type="file" class="file_input" name="file" />
                  <div class="file_text">Ningún archivo seleccionado</div>
                  <span class="icon-place"></span>
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Otros anexos</td>
          <td width="80%">
            <div class="element-file">
              <label class="title"></label>
              <div class="item-cont">
                <label class="large">
                  <div class="button">Seleccionar Archivo</div>
                  <input type="file" class="file_input" name="file" />
                  <div class="file_text">Ningún archivo seleccionado</div>
                  <span class="icon-place"></span>
                </label>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="submit"><input type="submit" value="Siguiente" /></div>
  </form>
</div>